.container {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    /* background-color: #F4F4F4; */

    
  }
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 20px;
    color:#535252;
  }
  
  .bikeList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
  
  @media (max-width: 768px) {
    .bikeList {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }
  
  .name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .location {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.3rem;
  }
  
  .rate {
    font-size: 1rem;
    font-weight: bold;
    color: #ff5722;
  }

  .filter{

    display: flex;
    flex-direction: row;
    align-self: center;
   
    width: 100%;
    margin-bottom: 30px;

  }



  .filter label{
    color: #535252;
  }

  

  .select {
    padding: 0.5rem;
    font-size: 1.3rem;
    width: 20vw;
    justify-self: flex-end;
    align-self: center;
   
   
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    transition: border-color 0.3s ease;
  }

  .selectdiv{
    flex: 2;
    display: flex;
   
    justify-content: flex-end;
    
  }
  
  .select:focus {
    outline: none;
    border-color: #ff5722;
  }

  .nearme{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1;
    margin-right: 20px;


    align-items: center;
  }

  .nearme :hover{
    cursor: pointer;
  }
  
  
  