.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.main {
  /* background-color: red; */
  /* padding: 5rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content:flex-start; */
  align-items: center;
}



.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}



.primaryButton {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.primaryButton {
  background-color: teal;
  color: #fff;
}

.primaryButton:hover {
  background-color: rgb(3, 120, 120);
}

.secondaryButton {
  background-color: #fff;
  color: teal;
  border: 2px solid teal;
}

.secondaryButton:hover {
  background-color: rgb(2, 107, 107) ;
  color: #fff;
}

.form
{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  

}

.form input{
  font-size: 1.5rem;
  margin:10px 10px;
  padding: 4px;
  color: rgb(57, 56, 56);
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;

}

.toggle{
  display: flex;
  flex-direction: row;
}

.toggle h2{
  color: rgb(72, 72, 72);
  margin-right: 2px;
  /* border:2px solid black; */
  padding:5px 15px;
  border-radius: 5%;
  /* background-color:rgb(217, 214, 214); */
  /* color: white; */

}

.toggle h2:hover{
  cursor: pointer;
  
  border-bottom: 2px solid teal;
}

.primarytoggle{

  color: black;
   border-bottom: 2px solid teal;

  
}


